[submodule "third_party/folly"]
	path = third_party/folly
	url = https://github.com/facebook/folly.git
[submodule "third_party/proxygen"]
	path = third_party/proxygen
	url = https://github.com/facebook/proxygen.git
