# macOS 隱藏檔
.DS_Store

# 忽略 VS Code 設定資料夾
.vscode/

# 忽略所有 build 目錄
build/

#
cmake-build-debug/

#
.idea/

test/

venv/

data/

model/

# build & DerivedData
DerivedData/
build/

# Xcode user data
*.xcuserstate
*.xcworkspace/xcuserdata/
xcschemamanagement.plist
