# macOS 隱藏檔
.DS_Store

# 忽略所有 build 目錄
build/

#
cmake-build-debug/
cmake-build-release/

#
.idea/

test/

venv/
.venv/

data/

*.tar.gz

.vscode

# Xcode user data
*.xcuserstate
*.xcworkspace/xcuserdata/
xcschemamanagement.plist
