<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要讀取相簿以挑選含有 QR Code 的照片完成綁定。</string>
	<key>NSCameraUsageDescription</key>
	<string>需要使用相機掃描 QR Code 以綁定 Edge 裝置。</string>
</dict>
</plist>
